<!DOCTYPE html>
<html>
  <body>
    <form action="demo_form.asp" method="post">
      <label for="domains">Upload CSV with domains: </label>
      <input type="file" id="domains" name="domains"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
