<!DOCTYPE html>
<html>
  <body>
    <form action="/whois/upload/csv" method="post" enctype="multipart/form-data">
      <label for="domains">Upload CSV with domains: </label>
      <input type="file" id="domains" name="domains"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
